[submodule "vendor/cmocka"]
	path = vendor/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
[submodule "vendor/TPF_cmake"]
	path = vendor/TPF_cmake
	url = https://github.com/tepachitos/TPF_cmake
